{% extends "base.html" %}

{% block title %}
Gêneros
{% endblock %}

{% block content %}


<h1 class="titulo-pagina">
    Gêneros
</h1>


<a
    class="botao botao-adicionar"
    href="{{ url_for('generos.registrar_genero') }}"
>
    + Registrar Gênero
</a>


{% if erro %}
    <div class="mensagem-erro">
        {{ erro }}
    </div>
{% endif %}


<table class="tabela">

    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de cadastro</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>

        {% for genero in generos %}

        <tr>
            <td>{{ genero.id }}</td>

            <td>{{ genero.nome }}</td>

            <td>
                {{ genero.data_cadastro.strftime('%d/%m/%Y %H:%M') }}
            </td>

            <td>
                <a
                    class="botao botao-editar"
                    href="{{ url_for('generos.editar_genero', id=genero.id) }}"
                >
                    Editar
                </a>

                <a
                    class="botao botao-deletar"
                    href="{{ url_for('generos.deletar_genero', id=genero.id) }}"
                    onclick="return confirm('Tem certeza que deseja deletar este gênero?')"
                >
                    Deletar
                </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>


{% endblock %}
