<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
</head>
<body>

    <div class="container">
        <form action="/salvar" method="POST">

            <label for="campo_livro">Livro</label>
            <input type="text" id="campo_livro" name="campo_livro" placeholder="Digite o nome do livro..." required>

            <label for="campo_tipoLivro">Gênero do Livro</label>
            <input type="text" id="campo_genero" name="campo_genero" placeholder="Digite o Gênero do livro..." required>

            <!-- NOVO CAMPO DE VALOR ADICIONADO ABAIXO -->
             <label for="campo_valor">valor R$:</label>
             <input type="number" id="campo_valor" name="campo_valor" step="0.01" min="0.01" placeholder="0.00" required>

            <button type="submit">Salvar</button>
    
        </form>

        <hr>
        <a href="/">Voltar a página anterior</a>
    </div>

    
</body>
</html>