{% extends "base.html" %}

{% block title %}
Gêneros
{% endblock %}


{% block content %}

    <h1 class="titulo-pagina">
        Gêneros
    </h1>


    <a
        class="botao botao-adicionar"
        href="{{ url_for('registrar_genero') }}"
    >
        Registrar Gênero
    </a>


    <table class="tabela">

        <thead>

            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>

        </thead>


        <tbody>

            {% for genero in generos %}

            <tr>

                <td>{{ genero.id }}</td>

                <td>{{ genero.nome }}</td>

                <td class="acoes">

                    <a
                        class="botao botao-editar"
                        href="{{ url_for('editar_genero', id=genero.id) }}"
                    >
                        Editar
                    </a>

                    <a
                        class="botao botao-deletar"
                        href="{{ url_for('deletar_genero', id=genero.id) }}"
                        onclick="return confirm('Tem certeza que deseja deletar este gênero?')"
                    >
                        Deletar
                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock %}