
{% extends 'base.html' %}

{% block title %}Usuários{% endblock %}

{% block content %}

<h1>Usuários</h1>

<div class="table-container">

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Tipo</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>

            {% for usuario in usuarios %}

            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.tipo }}</td>
                <td>
                    {% if usuario.tipo == 'comprador' %}

                        <a href="{{ url_for('tornar_adm', id=usuario.id) }}" class="btn-admin">
                            Tornar ADM
                        </a>

                    {% else %}

                        <a href="{{ url_for('remover_adm', id=usuario.id) }}" class="btn-remover-admin">
                            Remover ADM
                        </a>

                    {% endif %}

                    <a href="{{ url_for('deletar_user', id=usuario.id) }}" class="btn-deletar">Exlcuir usuário</a>
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}

